
.TimePicker{

    h1{
        font-weight: bold;
    }
    .Time{
        font-family: Montreal;
        font-size: 64px;
        line-height: 74px;

    }
    .Headline{
        font-family:Garamond;
        font-size: 70px;
        line-height: 64px;
    }
    
   
}
