.Hero{
    img{
        width: 100%;
        height: 100%;
    }
    .potrait{
        width: 502px;
        height: 551px;
        position: relative;
        bottom: 58rem;
        left: 18rem;
       
    }
}