.photos{
    display: flex;
    position: absolute;
    max-width: 50%;
    height: 50%;
    top: 60rem;
    left: 20rem;

    .photo-1{
        position: relative;
        transform: rotate(-13deg);
        left: 18rem;
        top: 1rem;
        width: auto;
        height: 21rem;
       
    }
    .photo-2{
        position: relative;
        left: 11rem;
        bottom: 7rem;
        transform: rotate(-19deg);
        width: auto;
        height:30rem;
    }
    .photo-3{
        position: relative;
        bottom: 9rem;
        left: 2.5rem;
        transform: rotate(-15deg);


    }
}